:root {
    --primary-color: #99bbff;
    --secondary-color: #51d6c7;
    --tertiary-color: #512c8a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family:sans-serif;
    font-weight: 100;
    color: var(--tertiary-color);
}

header{
    margin: 0;
    background-color: var(--secondary-color) ;
    color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
}

header h1 {
    font-size: 42px;
    padding-left: 20px;
    padding-top: 25px;

}

header nav { 
    align-items: center;
    margin: 35px 10px;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

header nav ul li {
    text-align: center;
    margin: 0 auto 5px auto;
}

header nav ul li a {
    font-size: 20px;
    font-weight: lighter;
    padding: 5px 20px;
    border-bottom: 5px solid;
    border-color: var(--tertiary-color);
}

header a {
    color: var(--tertiary-color);
}

.hero {
    background-image: url("../Assets/Hero.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
}

.hero div {
    float: right;
    color: white;
    background-color: var(--tertiary-color);
    height: 150px;
    width: 1130px;
    padding: 35px;
    margin: 225px 30px 10px 30px;
}

.hero div p {
    float: right;
    background-color: var(--tertiary-color);
    color: white;
}

.hero img {
    height: 560px;
    width: 560px;
    float: left;
    padding-top: 40px;
    padding-left: 30px;
}

.sample-work {
}

.sample-work div {
}

.sample-work div h2 {
    padding-top: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 42px;
}

